@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --tanBgColor: #fffcf6; */
  --tanBgColor: #fdfaff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--tanBgColor);
  font-family: 'Commissioner', 'Lexend', sans-serif;
}

.hideScrollbar {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}
.sdsd{
  color: #fdf3fd;
}